- if ::Gitlab::CurrentSettings.custom_project_templates_enabled?
  - project_template_count = current_user.available_custom_project_templates.count
  - group_id = params[:namespace_id]

  .project-templates-buttons.col-sm-12
    %ul.nav-tabs.nav-links.nav.scrolling-tabs
      %li.built-in-tab
        %a.nav-link.active{ href: "#built-in", data: { toggle: 'tab'} }
          = _('Built-in')
          %span.badge.badge-pill= Gitlab::ProjectTemplate.all.count
      %li.custom-instance-project-templates-tab
        %a.nav-link.js-custom-instance-project-templates-nav-link{ href: "#custom-instance-project-templates", data: { toggle: 'tab'} }
          = _('Instance')
          %span.badge.badge-pill= project_template_count
      %li.custom-group-project-templates-tab
        %a.nav-link.js-custom-group-project-templates-nav-link.qa-group-templates-tab{ href: "#custom-group-project-templates", data: { toggle: 'tab'} }
          = _('Group')
          %span.badge.badge-pill.qa-group-template-tab-badge
            = group_project_templates_count(group_id)

  .tab-content
    .project-templates-buttons.import-buttons.tab-pane.active#built-in
      = render 'projects/project_templates/built_in_templates'
    .project-templates-buttons.import-buttons.tab-pane.js-custom-instance-project-templates-tab-content#custom-instance-project-templates{ data: {initial_templates: user_available_project_templates_path(current_user)} }
      .text-center.m-4
        = icon("spin spinner 2x")
    .project-templates-buttons.import-buttons.tab-pane.js-custom-group-project-templates-tab-content#custom-group-project-templates{ data: {initial_templates: user_available_group_templates_path(current_user, group_id: group_id)} }
      .text-center.m-4
        = icon("spin spinner 2x")

  .project-fields-form
    = render 'projects/project_templates/project_fields_form'
    = f.hidden_field(:use_custom_template, value: false)
    = f.hidden_field(:group_with_project_templates_id, value: nil, class: 'js-project-group-with-project-templates-id')
    = render 'projects/new_project_fields', f: f, project_name_id: "template-project-name", hide_init_with_readme: true, track_label: "create_from_template"

- else
  = render_ce 'projects/project_templates', f: f
